@media only screen and (max-device-width : 720px) {
  body {
    padding: 0 20px;
    margin: 20px auto;
    font-size: 1em;
  }
}

@media only screen and (min-device-width: 768px) {
  body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font-size: 1.4em;
  }
}

body {
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
  -webkit-padding-after: 0px;
}

.block {
  display: block;
}

.hide {
  display: none;
}

textarea {
  font-size: 1em;
  width: 100%;
  border: none;
  padding: 0;
  /*height: 400px;*/
  line-height: 1.75;
  margin-top: 1em;
  margin-bottom: 1em;
}

textarea:focus {
  outline-offset: 0px;
}

textarea, :focus {
  outline: none;
}

#kanji-input {
  background-color: #eee;
}

.small {
  font-size: 0.6em;
}

.nav {
  -webkit-margin-before: 0px;
}

.nav li {
  list-style-type: none;
  display: inline;
}

.nav li + li {
  padding-left: 20px;
}

.nav li a {
  text-decoration: none;
  color: #999;
}

.nav li a.logo {
  color:
}

.nav li a:hover {
  text-decoration: underline;
}

.top {
  border-bottom: 1px solid #ccc;
}